  <div class="row" >
    <div class="col-md-4">
      <ngx-datatable-left></ngx-datatable-left>
    </div>
    <div class="col-md-8">
      <nb-card accent="primary" class="mb-0">
        <nb-card-header>
          <nb-icon status="primary" icon="map-outline"></nb-icon>
          <span class="ml-2">{{'DASH.map' | translate}}</span>
        </nb-card-header>
        <nb-card-body>
          <div leaflet [leafletOptions]="options"  (leafletMapReady)="onMapReady($event)"  >
            <!-- [leafletLayersControl]="layersControl" -->
            <div *ngFor="let layer of getLayers()" [leafletLayer]="layer"></div>
          </div>
        </nb-card-body>
      </nb-card>
      <!-- <ngx-leaflet></ngx-leaflet> -->
    </div>
    </div>