<nb-card class="" accent="primary">
    <nb-card-header> 
        <nb-icon status="primary" icon="archive-outline"></nb-icon>
        <span class="ml-2">
          {{'ALERT.histoTitle' | translate}}
        </span>
    </nb-card-header>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
    <ng2-smart-table  *ngIf="settings!= null"  [settings]="settings" [source]="source" 
    (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
