  <ng-container *ngIf="isIssat()">
  <nb-card accent="primary" size="medium" class="h-100">
    <nb-card-header>
      <nb-icon status="primary" icon="image-outline"></nb-icon><span class="ml-2">{{'DIVERS.imageTitle' | translate }}</span>
      <button class="single-view-button"
              nbButton
              size="small"
              [appearance]="isSingleView ? 'filled' : 'outline'"
              (click)="isSingleView = true">
        <nb-icon icon="square-outline"></nb-icon>
      </button>
      <button class="grid-view-button"
              nbButton
              size="small"
              [appearance]="isSingleView ? 'outline' : 'filled'"
              (click)="isSingleView = false">
        <nb-icon icon="grid" pack="eva"></nb-icon>
      </button>
    </nb-card-header>
  
    <div class="grid-container">
  
      <div class="single-view" *ngIf="isSingleView">
        <div class="camera" [style.background-image]="'url(' + selectedCamera.source + ')'">
          <span class="camera-name">{{titles[selectedCamera.title]  }}</span>
        </div>
      </div>
  
      <div class="grid-view" *ngIf="!isSingleView">
        <div class="camera"
             *ngFor="let camera of cameras"
             [style.background-image]="'url(' + camera.source + ')'"
             (click)="selectCamera(camera)">
          <span class="camera-name">{{ titles[camera.title] }}</span>
        </div>
      </div>
  
    </div>
  
  </nb-card>
</ng-container>