.statsUp {
  background-color: #306832;
  font-size: medium;
  font-weight: bolder;
  color: #fff;
  text-align: center;

}

.statsDown {
  background-color: #aa1723;
  font-size: medium;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}


.statsNeutral {
  background-color: #a18012;
  font-size: medium;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  
}

.textP{
  color: white;
  font-size: 15px;
  font-weight: bold;
}