<!--OTHER-->
<ng-container *ngIf="isRoleDashborad() == false">
    <div class="row">
        <div class="col-2 statsUp">
            LEAD:
            <nb-icon icon="arrow-up"></nb-icon>
            {{quantityLad}}/h
        </div>
        <div class="col-2 statsDown">
            PPM:
            <nb-icon icon="arrow-down"></nb-icon>
            {{ppm}}
        </div>
        <div class="col-2 statsNeutral">
            Faults:
            <nb-icon icon="arrow-right"></nb-icon>
            {{numberFaute}}
        </div>
        <div class="col-2 statsUp">
            DOWNTIME:
            <nb-icon icon="arrow-left"></nb-icon>
            {{downtime}}
        </div>
        <div class="col-4">
             <h2 class="font-weight-bold text-uppercase" style="color: #391f5b!important;">Accentify</h2>
            <!-- <img src="../assets/images/leoni.png" style="width: 60%;"> -->
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-2">
            <div style="font-weight: bold; text-align: center; margin-top: 5%;">L.A.D</div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-1">
                    <img src="../assets/images/sol.png">
                </div>

                <div class="col-1" *ngFor="let item of stations;  index as i">
                    <img src="{{getImage(i)}}">
                </div>

                <div class="col-1">
                    <img src="../assets/images/eol.png">
                </div>

                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>
        </div>

        <div class="col-2">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-2">
            <div style="font-weight: bold; text-align: center; margin-top: 5%;">Matière</div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-1">
                    <img src="../assets/images/sol.png">
                </div>

                <div class="col-1" *ngFor="let item of stations;  index as i">
                    <img src="{{getImage(i)}}">
                </div>

                <div class="col-1">
                    <img src="../assets/images/eol.png">
                </div>

                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>
        </div>

        <div class="col-2">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-6">
            <span style="font-weight: bold; text-align: center;">Rapport qualité</span>
        </div>

        <div class="col-6">
        </div>
    </div>

    <div class="row">

        <div class="col-7">
            <canvas #lineCanvas style="position: relative; height:100px; width:200px"></canvas>
        </div>

        <div class="col-3">
            <canvas #doughnutCanvas style="position: relative; height:100px; width:200px"></canvas>
        </div>

        <div class="col-2">
        </div>
    </div>
</ng-container>


<!---TECH-->
<ng-container *ngIf="isRoleDashborad() == true">

    <mat-tab-group>
        <!--Production-->
        <mat-tab label="Production">
            <ngx-production></ngx-production>
        </mat-tab>

        <!--Temps d'arrets-->
        <mat-tab label="Temps d'arrêts">
            <ngx-break-time></ngx-break-time>
        </mat-tab>

    </mat-tab-group>


</ng-container>