

@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;

  nb-card {
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

}