<div class="row">
    <div class="col-2 statsUp">
        LEAD:
        <nb-icon icon="arrow-up"></nb-icon>
        {{quantityLad}}/h
    </div>
    <div class="col-2 statsDown">
        PPM:
        <nb-icon icon="arrow-down"></nb-icon>
        {{ppm}}
    </div>
    <div class="col-2 statsNeutral">
        Faults:
        <nb-icon icon="arrow-right"></nb-icon>
        {{numberFaute}}
    </div>
    <div class="col-2 statsUp">
        DOWNTIME:
        <nb-icon icon="arrow-left"></nb-icon>
        {{downtime}}
    </div>
    <div class="col-4">
         <h2 class="font-weight-bold text-uppercase" style="color: #391f5b!important;">Accentify</h2>
        <!-- <img src="../assets/images/leoni.png" style="width: 60%;"> -->
    </div>
</div>
<hr>
<!--*ngFor="let i of currentUser.installationIds"-->
<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-12 tappable" (click)="navigateToDetails(0)">

                <div class="row" style=" padding: 0;">
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/sol.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/usergreen.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/usergreen.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/usergreen.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/usergreen.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/userred.png">
                    </div>

                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/usergreen.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                        <img src="../assets/images/eol.png">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                    </div>
                    <div class="col-1" style=" padding: 0;">
                    </div>
                </div>
            </div>

        </div>
    </nb-card-body>
</nb-card>

<br />

<div class="row">
    <div class="col-6">
        <span style="font-weight: bold; text-align: center;">Rapport qualité</span>
    </div>

    <div class="col-6">
    </div>
</div>

<div class="row">

    <div class="col-7">
        <canvas #lineCanvas style="position: relative; height:100px; width:200px"></canvas>
    </div>

    <div class="col-3">
        <canvas #doughnutCanvas style="position: relative; height:100px; width:200px"></canvas>
    </div>

    <div class="col-2">
    </div>
</div>