<div class="row">
    <div class="col-3">
        <nb-card status="success">
            <nb-card-header>
                Nombre de faute
            </nb-card-header>

            <nb-card-body>
                30
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-9">

    </div>
</div>

<div class="row">
    <div class="col-12">
        <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ngx-pie-chart></ngx-pie-chart>
    </div>

    <div class="col-6">
        <ngx-bar-chart></ngx-bar-chart>
    </div>
</div>