<nb-card class="" accent="primary">
    <nb-card-header>
        <nb-icon status="primary" icon="settings-outline"></nb-icon>

        <span class="ml-2" id="depot-span"> Gestion de Postes</span>


    </nb-card-header>
    <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
        <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)"
            (editConfirm)="onEditConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>